<!-- author 罗佳 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SAAS系统--航空公司端</title>
    <!--引入BS.JS-->{include file="index/UseBsJs"}
    <script src="__AIRLINE__/js/jquery.leanModal.min.js"></script>
    <link rel="stylesheet" href="__AIRLINE__/css/index/index.css">

</head>

<style>
    body {
        background-color: #fff;
    }
    
    table>tbody>tr>td,
    table>tbody>tr>th {
        height: 60px;
        font-size: 20px;
    }
    
    .table-bordered>tbody>tr>td,
    .table-bordered>tbody>tr>th,
    .table-bordered {
        border: white 0px solid;
    }
    
    .table-bordered>tbody>tr>td,
    .table-bordered>tbody>tr>th {
        width: 50%;
    }
    
    input required {
        margin-top: 12px;
    }
</style>

<body>
    <!-- 网站头部 -->
    {include file="index/IndexHeader"}

    <!-- 用户注册和登录 -->
    {include file="index/IndexUserAction"}

    <div class="container">
        <h3 class="text-left" style="display: inline-block;">新增飞机</h3>
        <hr>

        <form id="form-add-plane" action="__MODULE_AIRLINE__/Airplane_Manager/addAirplane" method="post">
            <table class="table table-bordered" style="width:40%;margin:0px auto;">
                <tbody>
                    <tr>
                        <th style="line-height: 60px;">注册号:</th>
                        <td style="line-height: 60px;">
                            <input style="margin-top:15px;" required class="form-control" name="注册号" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th style="line-height: 60px;">呼号:</th>
                        <td style="line-height: 60px;">
                            <input style="margin-top:15px;" required class="form-control" name="呼号" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th style="line-height: 60px;">机型:</th>
                        <td style="line-height: 60px;">
                            <input style="margin-top:15px;" required class="form-control" name="机型" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th style="line-height: 60px;">载客数:</th>
                        <td style="line-height: 60px;">
                            <input style="margin-top:15px;" required class="form-control" name="载客数" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th style="line-height: 60px;">MTOW:</th>
                        <td style="line-height: 60px;">
                            <input style="margin-top:15px;" required class="form-control" name="MTOW" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center> <input type="submit" class="btn-success btn" value="提交">
                                <a href="__MODULE_AIRLINE__/Airplane_Manager/index" class="btn btn-danger">取消</a></center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>