<!-- 导航栏 -->
<div class="nav clearfix">
    <div class="nav-top">
        <div>

        </div>
    </div>
    <ul>
        <li class="nav-item">
            <a href="javascript:;"><span class="glyphicon glyphicon-user"></span><span>本公司用户管理</span><span class="glyphicon glyphicon-chevron-right"></span></a>
            <ul>
                <li><a href="__MODULE_ADMIN__/Usermanage/userManage"><span>用户维护</span></a></li>
                <li><a href="__MODULE_ADMIN__/Usermanage/managerManage"><span>管理员管理</span></a></li>
                <li><a href="__MODULE_ADMIN__/Usermanage/unnormalUserManage"><span>用户封禁</span></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;"><span class="glyphicon glyphicon-book"></span><span>航空公司管理</span><span class="glyphicon glyphicon-chevron-right"></span></a>
            <ul>
                <li><a href="__MODULE_ADMIN__/Bookmanage/bookAudit"><span>航空公司信息维护</span></a></li>
                <li><a href="__MODULE_ADMIN__/Bookmanage/salingBookManage"><span>航空公司账户注册</span></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;"><span class="glyphicon glyphicon-paperclip"></span><span>航班管理</span><span class="glyphicon glyphicon-chevron-right"></span></a>
            <ul>
                <li><a href="__MODULE_ADMIN__/Ordermanager/orderManager"><span>航班管理</span></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;"><span class="glyphicon glyphicon-magnet"></span><span>其他功能</span><span class="glyphicon glyphicon-chevron-right"></span></a>
            <ul>
                <li><a href="__MODULE_ADMIN__/Othermanage/academymanage"><span>国家信息维护</span></a></li>
                <li><a href="__MODULE_ADMIN__/Othermanage/toaddacademy"><span>添加国家</span></a></li>
                <li><a href="__MODULE_INDEX__"><span>去航空公司端</span></a></li>
            </ul>
        </li>
    </ul>
</div>