<!-- author 沈组伟 -->
<!-- 用户登录 -->
<div id="loginmodal" class="col-md-offset-2 col-md-3" style="display:none;">
    <form class="form-horizontal" method="POST" action="__MODULE_AIRLINE__/index/login">
        <span class="heading">用户登录</span>
        <div class="form-group">
            <!-- <label for="userinfo">手机号/邮箱:</label> -->
            <input type="text" name="userinfo" class="form-control" id="inputEmail3" placeholder="请输入手机号/邮箱">
        </div>
        <div class="form-group">
            <!-- <label for="password">密码:</label> -->
            <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default hidemodal" value="登录">
        </div>
    </form>
</div>


<!-- 用户登录JS -->
<script type="text/javascript">
    $(function() {
        $('#modaltrigger').leanModal({
            top: 110,
            overlay: 0.45,
            closeButton: ".hidemodal"
        });
    });
</script>


<!-- 用户注册 -->
<div id="register" class="col-md-offset-3 col-md-6" style="display:none;">
    <form method="POST" action="__MODULE_AIRLINE__/index/sendMsg" class="form-horizontal">
        <span class="heading">用户注册</span>
        <div class="form-group">
            <input type="text" name="tel" class="form-control" placeholder="手机号">
        </div>
        <div class="form-group ">
            <input type="password" name="password" class="form-control" placeholder="密　码">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="确认密码">
        </div>
        <div class="form-group">
            <input style="width:50%" type="email" class="form-control clearfix pull-left" placeholder="请输入验证码">
            <button type="submit" class="btn btn-default clearfix hidemodal pull-right">发送验证码到手机</button>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default hidemodal">注册</button>
        </div>
    </form>
</div>
<!-- 用户注册JS -->
<script type="text/javascript">
    $(function() {
        $('#modaltrigger_r').leanModal({
            top: 110,
            overlay: 0.45,
            closeButton: ".hidemodal"
        });
    });
</script>