<!-- author 罗佳 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SAAS系统--航空公司端</title>
    <!--引入BS.JS-->{include file="index/UseBsJs"}
</head>

<body>
    <!-- 网站头部 -->
    {include file="index/IndexHeader"}

    <!-- 网站横幅 -->
    {include file="index/IndexBanner"}

    <!-- 轮播图 -->
    {include file="index/SowingMap"}

    <!-- 用户注册和登录 -->
    {include file="index/IndexUserAction"}

</body>

</html>